/*
	custom.css ï¿½ custom styles for Cutline that YOU define
	------------------------------------------------------
	
	This stylesheet will allow you to futureproof your
	changes against future releases and upgrades. I know
	you work hard on your modified styles, and I don't
	want you to feel like every upgrade is a total drag!
	
	Instructions:
	
	Modifying existing Cutline styles to your liking is a
	breeze with this handy stylesheet. The <body> tag
	within the header.php file has been appended with a
	CSS class called "custom," and thanks to this, you now
	have the ability to override ANY style that's declared
	in the original Cutline stylesheet.
	
	In practice, you simply need to copy the CSS for the
	element that you want to change (from style.css) and
	then paste it here. Prefix the new CSS declaration
	with .custom, and then make your tweaks as necessary.
	
	Here's an example:
	
	To change the default color of unvisited links from 
	blue to red (#c00) and remove the default underline, 
	this is what you would do:
	
	.custom a { color: #c00; text-decoration: none; }
	
	Cool? Now get to hackin!
*/


#banner {
width:100%;
			padding: 0px;
			margin-bottom: 10px;
  background-color: #ffffff;
		}
		#nav {
			padding: 2px;
			margin-bottom: 0px;
			background: #959CA1;
			border-top: 1px solid #505C65;
			border-bottom: 1px solid #cccccc;
			text-align: right;
		}
		
a.navv:link, a.navv:visited 
{ 
	font-weight : bold; 
	text-decoration : none;
	color: #fff;
	background: transparent;
	font-size:10px;
}

a.navv:hover
{ 
	font-weight : bold; 
	text-decoration : underline;
	color: #fff;
	background: transparent;
	font-size:10px;
}
a.navv:active {
	font-weight : bold; 
	text-decoration : none;
	color: #fff;
	background: transparent;
	  font-size:10px;
	}	
		
		
		#featurebar {
			padding: 0px;
			margin-bottom: 0px;
			background: #e3e3e3;
			border-top: 1px solid #959CA1;
			border-bottom: 1px solid #d3d3d3;
		}


.oldposts { margin: 0 0 0.1em 0; line-height: 1.2em; font-size: 1.7em;}


#old_review_heads
{
margin-bottom: 10px;
}

.old_review_art
{
margin: 0px 10px 10px 0px;
border: 1px solid #000;
}

.old_review_header_artist
{
font-weight: bold;
}

img.leftalign { margin-right:10px; margin-bottom:10px;  float: left; }
img.rightalign { margin-left:10px; margin-bottom:10px;  float: right; }